.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.content {
    min-width: 25vw;
}

   



.header{
    background-color: #D94F70;
    color: white;
    height: 60px;
    font-size: 45px;
    text-align: left;
    font-weight: bolder;
}
.nav{
    background-color: #D94F70;
   
   
    text-align: left; 
    color: white;
    text-align: center;
    font-size: medium;
    padding-top: 2%;
 
}

.charecter{
    text-align: center;
}

.form1{
    text-align: left;
    flex-direction: column;

}

.form2{
    text-align: right;
}